---
permalink: /404.html
layout: default
title: Error 404 - Page Does Not Exist
description: We are sorry but you have reached a page that does not exist!
exclude: true
---

<div class="container">
   <p >Below is a list of pages that <em>do exist</em> maybe one of these is what you are looking for? </p>
  <ul class="sitemap">
       {% for page in site.pages %}{% if page.exclude != true %}<li style="margin-bottom:20px;"><a href="{{site.baseurl}}{{ page.url }}">{{ page.title }}</a> <br />{{ page.description }}<br /></li>
       {% endif %}{%endfor%}
          {% for post in site.posts %}<li style="margin-bottom:20px;"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a> <br />{{ post.description }}<br /></li>{%endfor%}
   </ul>
 </div>
